@{
    ViewData["Title"] = "My Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>My Books</h1>
    <div class="empty-box">
        <p><em>No projects... yet</em></p>
    </div>
</div>