@{
    ViewData["Title"] = "Welcome to My World";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Welcome to my page!</h1>
    <p>Everything you need to know about what I'm working on and what I have created can be found here.</p>
    <p>Below you can see what I've created and what I'm working on.</p>
</div>

<div class="container">
    <h2>My Existing Books</h2>
    <p>Nothing here yet...</p>
</div>

<div class="container">
    <h2>In the works</h2>
    <p>TC - 0.5%</p>
    <p>TEH - 2%</p>
    <p>Title Unknown Even To Me - 0%</p>
    <p>YATMTM - 0%</p>
</div>